<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.myapp.bbs.BbsDao">


	<resultMap type="BbsVo" id="BbsMap">
		<id property="bbsNo" column="bbs_no" />
		<result property="bbsTitle" column="bbs_title" />
		<result property="bbsContent" column="bbs_content" />
		<result property="bbsWriter" column="bbs_writer" />
		<result property="bbsRegDate" column="bbs_reg_date" />
		<result property="bbsCount" column="bbs_count" />
		<!--join 조회결과를 담기 위한 resultMap 
		1:1 관계이면 association 엘리먼트를 1:N 관계이면 collection 엘리먼트 사용 -->
		<collection property="attachList" ofType="AttachVo"> 
		 	<id property="attNo" column="att_no" />
			<result property="attOrgName" column="att_org_name" />
			<result property="attNewName" column="att_new_name" />
			<result property="attBbsNo" column="att_bbs_no" />
		</collection>
	</resultMap>
 	
 	 <select id="selectBbsList" resultType="BbsVo">
 	 SELECT bbs_no, bbs_title, bbs_writer, bbs_reg_date, bbs_count 
 	 FROM bbs
 	 </select>
 	 
 	 
 	 <select id="selectBbs" resultMap="BbsMap">
 	 SELECT bbs_no, bbs_title, bbs_content, bbs_writer, bbs_reg_date, bbs_count,
   		att_no, att_org_name, att_new_name, att_bbs_no
 	 FROM bbs LEFT OUTER JOIN attach ON bbs_no = att_bbs_no
   	 WHERE bbs_no = #{bbsNo}
 	 </select>


	<insert id="insertBbs">
	<selectKey keyProperty="bbsNo" resultType="int" order="BEFORE">
		SELECT bbs_seq.NEXTVAL FROM DUAL
	</selectKey>
	insert into bbs (bbs_no, bbs_title, bbs_content, bbs_writer)
	values (#{bbsNo}, #{bbsTitle}, #{bbsContent}, #{bbsWriter})
	</insert>


	<update id="updateBbs">
	update bbs 
	set bbs_title = #{bbsTitle}, bbs_content = #{bbsContent}
	WHERE bbs_no = #{bbsNo}
	</update>
	
	<delete id="deleteBbs">
	delete from bbs where bbs_no = #{bbsNo}
	</delete>

</mapper>