<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.myapp.bbs.BbsrDao">

<!-- 	resultMap 을 사용하여 조회결과의 어떤 컬럼값을 MemberVo객체의 어떤 속성(변수)에 담을지(저장) 설정-->	
<resultMap type="MemberVo" id="MemberMap">
	<!-- 기본키(PK)에 해당되는 컬럼에 대해서는 result 대신 id 태그 사용 조인할때는 반드시 써야한다 -->
	<id property="memId" column="mem_id" />
	<result property="memPass" column="mem_pass" />
	<result property="memName" column="mem_name" />
	<result property="memPoint" column="mem_point" />
</resultMap>
 	
 	 <select id="selectBbsList" resultType="BbsVo">
 	 SELECT bbs_no, bbs_title, bbs_writer, bbs_reg_date, bbs_count 
 	 FROM bbs
 	 </select>
 	 
 	 
 	 <select id="selectBbs" resultType="BbsVo">
 	 SELECT bbs_no, bbs_title, bbs_content, bbs_writer, bbs_reg_date, bbs_count 
 	 FROM bbs
   	 WHERE bbs_no = #{bbsNo}
 	 </select>


<insert id="insertBbs">
	insert into bbs (bbs_no, bbs_title, bbs_content, bbs_writer)
	values (bbs_seq.NEXTVAL, #{bbsTitle}, #{bbsContent}, #{bbsWriter})
</insert>


<update id="updateBbs">
update bbs 
set bbs_title = #{bbsTitle}, bbs_content = #{bbsContent}
WHERE bbs_no = #{bbsNo}
</update>

<delete id="deleteMember">
delete from bbs where bbs_no = #{bbsNo}
</delete>

</mapper>